body {
    margin: 0;
    background: #222;
    font-family: Arial;
    overflow: hidden;
}

#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startScreen button {
    padding: 15px 40px;
    font-size: 30px;
    background: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#gameCanvas {
    display: none;
    background: skyblue;
}

/* Modal Pertanyaan */
#questionBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

#questionBox .box {
    width: 350px;
    padding: 20px;
    background: white;
    margin: 150px auto;
    border-radius: 10px;
    text-align: center;
}
