body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* START SCREEN */
#startScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("assets/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px black;
    margin-bottom: 20px;
}

/* START BUTTON */
.start-button {
    width: 220px;
    cursor: pointer;
    transition: 0.2s;
}

.start-button:hover {
    transform: scale(1.1);
}

/* GAME CANVAS */
#gameCanvas {
    display: none;
    background: url("assets/background.png");
    background-size: cover;
    border: 3px solid black;
    margin: auto;
}

/* QUESTION BOX */
#questionBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#questionContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
